page{
  background: #F8F8F8;
}
.w-auto{
  width: auto;
}
.w-100{
  width: 100%;
}
.w-2rem{
  width: 2rem;
}
.w-3rem{
  width: 3rem;
}
.w-4rem{
  width: 4rem;
}
.w-5rem{
  width: 5rem;
}
.w-8rem{
  width: 8rem;
}
.w-col6{
  width: 50%;
}
.h-auto{
  height: auto;
}
.h-100{
  height: 100%;
}
.h-90rpx{
  height: 90rpx;
}

.p-t-20rpx{
  padding-top: 20rpx;
}
.p-b-20rpx{
  padding-bottom: 20rpx;
}
.p-tb-20rpx{
  padding-top: 20rpx;
  padding-bottom: 20rpx;
}
.p-l-10rpx{
  padding-left: 10rpx;
}
.p-l-20rpx{
  padding-left: 20rpx;
}
.p-r-20rpx{
  padding-right: 20rpx;
}
.m-b-10rpx{
  margin-bottom: 10rpx;
}
.m-b-20rpx{
  margin-bottom: 20rpx;
}
.text-white{
  color: #fff !important;
}
.text-gray-3{
  color: #333 !important;
}
.text-gray-5d{
  color: #5d5d5d !important;
}
.text-gray-68{
  color: #686868 !important;
}
.text-gray-9{
  color: #999 !important;
}
.text-gray-9a{
  color: #9a9a9a !important;
}
.text-gray-94{
  color: #949494 !important;
}
.text-gray-ce{
  color: #cecece !important;
}
.text-success{
  color: #449d44 !important;
}
.text-purple{
  color: #914FFE !important;
}
.text-info{
  color: #337ab7 !important;
}
.text-warning{
  color: #ff9f00 !important;
}
.text-danger{
  color: #d9534f !important;
}

.tags{
  padding: .15rem .35rem;
  border-radius: 3px;
}
.tags2{
  padding: .15rem .35rem;
  border-radius: 3px;
  border: solid 1px;
  display: inline-block;
}
.bg-f8{
  background: #f8f8f8;
}
.bg-ed{
  background: #ededed;
}
.bg-fff{
  background: #fff;
}
.bg-fb{
  background: #fbfbfb;
}
.bg-success{
  background: #1aad19;
}
.bg-info{
  background: #2ba3d4;
}
.bg-lightInfo{
  background: #f0fbfd;
}
.bg-danger{
  background: #e64340;
}
.bg-lightRed{
  background: #ec6646;
}
.bg-lightGreen{
  background: #5fd97f;
}
.bg-lightGreen2{
  background: #35c197;
}
.bg-lightYello{
  background: #f4c01b;
}
.bg-lightBlue{
  background: #7dabfe;
}
.bg-lightBlue2{
  background: #7a97f9;
}
.bg-litghtPurple{
  background: #b16ccd;
}

.font-20rpx{
  font-size: 20rpx !important;
}
.font-24rpx{
  font-size: 24rpx !important;
}
.font-28rpx{
  font-size: 28rpx !important;
}
.font-30rpx{
  font-size: 30rpx !important;
}
.font-32rpx{
  font-size: 32rpx !important;
}
.font-36rpx{
  font-size: 36rpx !important;
}
.font-40rpx{
  font-size: 40rpx !important;
}
.font-44rpx{
  font-size: 44rpx !important;
}
.font-48rpx{
  font-size: 48rpx !important;
}
.font-52rpx{
  font-size: 52rpx !important;
}
.font-56rpx{
  font-size: 56rpx !important;
}
.font-60rpx{
  font-size: 60rpx !important;
}
.font-64rpx{
  font-size: 64rpx !important;
}

.line-h-44rpx{
  line-height: 44rpx;
}


.round-3rem{
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 100%;
}
.round-2rem{
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 100%;
}



.row {
  display: block;
  overflow: hidden;
  margin-left: -.25rem;
  margin-right: -.25rem;
}

.col {
  display: flex;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding-left: .25rem;
  padding-right: .25rem;
}

.col>.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
.col-10, .col-11, .col-12 {
  overflow: hidden;
  float: left;
}

.col-1 {
  width: 8.33333333333333%;
}

.col-2 {
  width: 16.6666666666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333333%;
}

.col-5 {
  width: 41.6666666666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333333333333%;
}

.col-8 {
  width: 66.66666666666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333333333%;
}

.col-11 {
  width: 91.66666666666666%;
}

.col-12 {
  width: 100%;
}

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.block{
  display: block;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}
.o-hidden{
  overflow: hidden;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.break-all{
  word-break: break-all;
}

.clearfix:before,
.clearfix:after{
  display: table;
  content: " ";
  clear: both;
}

.border-t{
  border-top: solid 1px;
}
.border-b{
  border-bottom: solid 1px;
}
.border-c-ed{
  border-color: #ededed;
}
.border-c-info{
  border-color: #2ba3d4;
}
.border-c-danger{
  border-color: #e64340;
}
.border-c-lightInfo{
  border-color: #ddebf0;
}

.radius-3px{
  border-radius: 3px;
}
.radius-5px{
  border-radius: 5px;
}

/* 补充 weui */
button{
  line-height: auto;
  vertical-align: middle;
}
input{
  border: solid 1px #ededed;
  border-radius: 10rpx;
  padding: 20rpx;
  background: #fff;
}
.btn-success {
  color: #fff;
  background-color: #1aad19;
}
.btn-success.button-hover{
  background-color: #179b16;
}
.btn-empty-success{
  color: #1aad19;
  border: 1px solid #1aad19;
  background: none;
}
.btn-empty-success.button-hover{
  color: #179b16;
  border-color: #179b16;
}
.btn-info {
  color: #fff;
  background-color: #2ba3d4;
}
.btn-info.button-hover{
  background-color: #0a93c6;
}
.btn-empty-info{
  color: #2ba3d4;
  border: 1px solid #2ba3d4;
  background: none;
}
.btn-empty-info.button-hover{
  color: #0a93c6;
  border: 1px solid #0a93c6;
}
.btn-danger {
  color: #fff;
  background-color: #e64340;
}
.btn-danger.button-hover{
  background-color: #ce3c39;
}
.btn-empty-danger{
  color: #e64340;
  border: 1px solid #e64340;
  background: none;
}
.btn-empty-danger.button-hover{
  color: #ce3c39;
  border-color: #ce3c39;
}
.btn-empty-default{
  color: #333;
  border: 1px solid #ededed;
  background: none;
}
.btn-empty-default.button-hover{
  border-color: #e3e3e3;
  background: none;
}

.btn-disabled{
  pointer-events: none;
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
}
.inp-disabled{
  background: #eee !important;
}
.btn-default {
  color: #333;
  background-color: #ededed;
}
.btn-default.button-hover{
  background-color: #e3e3e3;
}

.my-smbtn{
  padding: .15rem .35rem;
  font-size: .7rem;
}
.my-smbtn ::after{
  display: none;
}



.foot-btns{
  width: 100%;
  height: 3rem;
  display: block;
  position: fixed;
  bottom: 0;
  text-align: center;
}
.foot-btns .weui-flex__item{
  border-right: solid 1px #ededed;
}
.foot-btns .weui-flex__item:last-child{
  border-right: 0;
}
.foot-btns button.weui-flex__item{
  border-radius: 0px !important;
}
.foot-btns button.weui-flex__item::after{
  display: none;
}
.foot-btns button:last-child{
  border-right: 0;
}
.foot-btns .btn-default{
  border-top: solid 1px #dedede;
}
.foot-btns .btn-info{
  border-top: solid 1px #0a93c6;
}



/*userInfo*/
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.footer-txt{
  width: 100%;
  height: 3.5rem;
  color: #cecece;
  text-align: center;
  line-height: 3.5rem;
  font-size: .7rem;
}

/*weui*/
.weui-form-preview__label{
  font-size: .8rem;
}
.weui-form-preview__value{
  color: #686868;
}

/*页面公用*/
.detail-title{
  border-bottom: solid 1px #ededed;
  background: #fff;
  margin-bottom: .5rem;
  padding: .5rem 1rem;
}
.detail.weui-form-preview__item{
  padding: .5rem 1rem;
}
.detail.weui-form-preview__item:nth-child(2n){
  background: #fbfbfb;
}

.base-sti{
  background: #f0fbfd;
  border-top: dashed 1px #ddebf0;
  line-height: 2rem;
  padding: .5rem 1rem;
}
.data-none{
  text-align: center;
  color: #666;
  padding: 20rpx 0;
  font-size: 26rpx;
}
